@import "compass/css3";
@import "settings";
@import "foundation";
@import "content";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	&.main-bg {
		background-position: center top;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

body .wrapper, body .main-bg {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}

body .main-bg {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;

	.background-img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: left top;
	}
}

body .wrapper {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;

	.content {
		display: block;
		width: 100%;
		height: auto;
		overflow: hidden;

		@include content;
	}
}