<!DOCTYPE html>
<html>
  <head>
    <title>Edit Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Edit Page</h1>
    <form method="put" action="<%- urlFor({ controller: 'pages', id: item._id, action: 'update' }) %>">
    	<p>
    		<input type="text" name="title" placeholder="Title..." value="<%= item.content.title %>" style="width: 500px; padding: 5px 10px; font-size: 15px;">
    	</p>

    	<p>
    		<textarea name="text" placeholder="Content..." style="width: 500px; height: 300px; padding: 5px 10px; font-size: 15px;"><%= item.content.text %></textarea>
    	</p>

    	<p>
    		<input type="submit" value="Submit">
    	</p>
    </form>
  </body>
</html>