<!DOCTYPE html>
<html>
  <head>
    <title><%= page.content.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>
      <a href="/pages">&laquo; Back</a>
    </p>
    
    <h1><%= page.content.title %></h1>
    <article>
    	<%= page.content.text %>
    </article>
  </body>
</html>