// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

#menu {
	display: block;
	overflow: hidden;
	margin: 30px;
	width: 500px;

	a {
		display: block;
		float: left;
		padding: 5px 10px;
		margin-right: 30px;
		border: 1px solid #eee;

		&:hover {
			border-color: #999;
		}
	}
}

#parent {
	margin: 30px;
	width: 500px;
}
